<div class="row">
  <div class="col-12 mt-3">
    <h6 class="text-muted ms-2">CATEGORIES</h6>
    <ul class="list-group">
      <li class="list-group-item">
        <a class="tdn" href="/question/cat/Television">Television</a>
      </li>
      <li class="list-group-item">
        <a class="tdn" href="/question/cat/Movies">Movies</a>
      </li>
      <li class="list-group-item">
        <a class="tdn" href="/question/cat/Sports">Sports</a>
      </li>
      <li class="list-group-item">
        <a class="tdn" href="/question/cat/Technology">Technology</a>
      </li>
      <li class="list-group-item">
        <a class="tdn" href="/question/cat/Books">Books</a>
      </li>
      <li class="list-group-item">
        <a class="tdn" href="/question/cat/Food">Food</a>
      </li>
      <li class="list-group-item">
        <a class="tdn" href="/question/cat/Education">Education</a>
      </li>
      <li class="list-group-item">
        <a class="tdn" href="/question/cat/Fiction">Fiction</a>
      </li>
      <li class="list-group-item">
        <a class="tdn" href="/question/cat/Video Games">Video Games</a>
      </li>
    </ul>
    <footer>
      <div class="pt-4 b-outline">
        <h6>Intelliwiz</h6>
        <p>CM2020 - Agile Software Project Finals</p>
      </div>
    </footer>
  </div>
</div>
