<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Intelliwiz | Home</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.min.js"></script>

  </head>
  <body>
    <div class="container-fluid">
      <%- include ("./components/navbar.html",  { user: user }) %>

      <div class="row">
        <div class="col-md-3 col-sm-12">
       <%- include("./components/category.html") %>
        </div>       
        <div class="col-md-9 col-sm-12" style="height: 100vh; overflow-y: scroll">
          <div class="row">
            <div class="col-12 mt-3">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-text">My profile</h5>
                  <p class="text-muted">Created at - <%= user.createdAt %></p>
                </div>
              </div>
            </div>
            <div class="col-12 mt-3">
              <div class="card">
                <div class="card-body">
                  <p class="card-text">Do you have any question in your mind? Ask Something!</p>
                  <a class="btn btn-primary" href="/question/create">Ask a Question</a>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 mt-5">
              <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                  <button class="nav-link active" id="nav-asked-tab" data-bs-toggle="tab" data-bs-target="#nav-asked" type="button" role="tab" aria-controls="nav-asked" aria-selected="true">List of Questions asked</button>
                  <button class="nav-link" id="nav-answered-tab" data-bs-toggle="tab" data-bs-target="#nav-answered" type="button" role="tab" aria-controls="nav-answered" aria-selected="false">List of Questions answered</button>
                  <button class="nav-link" id="nav-following-tab" data-bs-toggle="tab" data-bs-target="#nav-following" type="button" role="tab" aria-controls="nav-following" aria-selected="false">Following</button>
                  <button class="nav-link" id="nav-followers-tab" data-bs-toggle="tab" data-bs-target="#nav-followers" type="button" role="tab" aria-controls="nav-followers" aria-selected="false">Followers</button>
                </div>
              </nav>
              <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-asked" role="tabpanel" aria-labelledby="nav-asked-tab">
                  <% ques.forEach(function(item, index) { %>
                    <div class="col-12 mt-3">
                      <div class="card">
                        <div class="card-body">
                         <div class="d-flex justify-content-between">
                          <div class="d-flex align-items-center">
                            <div class="avatar"></div>
                            <h6 class="card-subtitle text-muted ms-2"><%= user.name %></h6>
                          </div>
                          <div>
                            <span class="badge rounded-pill bg-secondary"><%= item.category %></span>
                          </div>
                         </div>
                          <p class="card-text mt-2"><%= item.question %></p>
        
                          <div class="d-flex">
                            <form action="/question/upvote/<%= item.id %>" method="post">
                              <button class="btn btn-success" type="submit">
                                <i class="fa-solid fa-up-long"></i> Upvote (<%= item.upvotes.length %>)
                              </button>
                            </form>
                            <form action="/question/downvote/<%= item.id %>" method="post">
                              <button class="btn btn-outline-danger ms-2" name="downvote" type="submit">
                                <i class="fa-solid fa-down-long"></i> Downvote (<%= item.downvotes.length %>)
                              </button>
                            </form>
                            <a class="btn btn-outline-primary ms-2" href="/question/<%= item.id %>"
                              ><em> View Answers...</em></a
                            >
                          </div>
                        </div>
                      </div>
                    </div>
                    <% }); %>

                </div>
                <div class="tab-pane fade" id="nav-answered" role="tabpanel" aria-labelledby="nav-answered-tab">
                  <% ans.forEach(function(item, index) { %>
                    <div class="col-12 mt-3">
                      <div class="card">
                        <div class="card-body">
                         <div class="d-flex justify-content-between">
                          <div class="d-flex align-items-center">
                            <div class="avatar"></div>
                            <h6 class="card-subtitle text-muted ms-2"><%= user.name %></h6>
                          </div>
                          <div>
                            <span class="badge rounded-pill bg-secondary"><%= item._question.category %></span>
                          </div>
                         </div>
                          <p class="card-text mt-2"><%= item._question.question %></p>
                          <div class="d-flex">
                            <form action="/question/upvote/<%= item._question.id %>" method="post">
                              <button class="btn btn-success" type="submit">
                                <i class="fa-solid fa-up-long"></i> Upvote (<%= item.upvotes.length %>)
                              </button>
                            </form>
                            <form action="/question/downvote/<%= item._question.id %>" method="post">
                              <button class="btn btn-outline-danger ms-2" name="downvote" type="submit">
                                <i class="fa-solid fa-down-long"></i> Downvote (<%= item.downvotes.length %>)
                              </button>
                            </form>
                            <a class="btn btn-outline-primary ms-2" href="/question/<%= item.id %>"
                              ><em> View Answers...</em></a
                            >
                          </div>
                        </div>
                      </div>
                    </div>
                    <% }); %>
                </div>
                <div class="tab-pane fade" id="nav-following" role="tabpanel" aria-labelledby="nav-following-tab">
                  <% following.forEach(function(item, index) { %>
                    <div class="col-12 mt-3">
                      <div class="card">
                        <div class="card-body">
                         <div class="d-flex justify-content-between">
                          <div class="d-flex align-items-center">
                            <div class="avatar"></div>
                            <h6 class="card-subtitle text-muted ms-2"><%= item.name %></h6>
                          </div>                         
                         </div>                         
                        </div>
                      </div>
                    </div>
                    <% }); %>
                </div>
                <div class="tab-pane fade" id="nav-followers" role="tabpanel" aria-labelledby="nav-followers-tab">

                </div>
              </div>         
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
