<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Intelliwiz | Home</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script>
      function showComments(ansId, index) {
        console.log('.comment-form' + index)
        document.querySelector('.comment-form' + index).style.display = 'block'

        $.ajax({
          type: 'GET',
          url: `/comment/${ansId}`,
          success: function (data) {
            var out = '<div>'

            $.each(data, function (key, value) {
              out =
                out +
                '<div class="card ms-5 mt-2"><div class="card-body"><div class="d-flex align-items-center">' +
                '<div class="avatar"></div>' +
                '<h6 class="card-subtitle text-muted ms-2">' +
                '<a class="tdn" href="/profile/' +
                value._user._id +
                '">' +
                value._user.name +
                '</a>' +
                '</h6>' +
                '</div>' +
                '<p class="card-text mt-2">' +
                value.reply +
                '</p>' +
                '</div>'
              out += '</div>'
            })

            $('.comment-list' + index).html(out)
          }
        })
      }
    </script>
  </head>
  <body>
    <div class="container-fluid">
      <%- include ("./components/navbar.html", { user: user }) %>

      <div class="row">
        <div class="col-md-3 col-sm-12"><%- include("./components/category.html") %></div>
        <div class="col-md-9 col-sm-12" style="height: 100vh; overflow-y: scroll">
          <div class="mt-2"><%- include ("./components/messages.html") %></div>
          <div class="d-flex align-items-center justify-content-between mt-5 mb-3">
            <% if(que) { %>
            <h3 class=""><%= que.question %></h3>
            <div>
              <span class="badge rounded-pill bg-secondary"><%= que.category %></span>
            </div>
            <% } %>
          </div>

          <div class="d-flex">
            <form action="/question/upvote/<%= que.id %>" method="post">
              <button class="btn btn-success" type="submit">
                <i class="fa-solid fa-up-long"></i> Upvote (<%= que.upvotes.length %>)
              </button>
            </form>
            <form action="/question/downvote/<%= que.id %>" method="post">
              <button class="btn btn-outline-danger ms-2" name="downvote" type="submit">
                <i class="fa-solid fa-down-long"></i> Downvote (<%= que.downvotes.length %>)
              </button>
            </form>
          </div>

          <form action="/answer/<%= que.id %>" method="post">
            <div class="mb-3 mt-5">
              <label for="reply" class="form-label">Have something constructive to answer? Enter here!</label>
              <textarea
                class="form-control"
                name="reply"
                required
                rows="4"
                cols="50"
                placeholder="Enter your answer here"
              ></textarea>
            </div>
            <div class="mb-3">
              <div class="d-grid gap-2">
                <button class="btn btn-primary" type="submit">Submit</button>
              </div>
            </div>
          </form>
          <h5 class="">All Answers</h5>

          <% if (ans.length < 1 ) { %>
          <div class="ms-5">No answers found!</div>
          <% } %> <% ans.forEach(function(item, index) { %>
          <div class="card">
            <div class="card-body">
              <div class="d-flex align-items-center">
                <div class="avatar"></div>
                <h6 class="card-subtitle text-muted ms-2">
                  <a href="/profile/<%= item._user._id %>" class="tdn"><%= item._user.name %></a>
                </h6>
              </div>
              <p class="card-text mt-2"><%= item.reply %></p>

              <div class="d-flex align-items-center">
                <form action="/answer/upvote/<%= que.id %>" method="post">
                  <input type="text" value="<%= item.id %>" name="_answer" style="display: none" />
                  <button class="btn btn-success">
                    <i class="fa-solid fa-up-long"></i> Upvote (<%= item.upvotes.length %>)
                  </button>
                </form>

                <form action="/answer/downvote/<%= que.id %>" method="post">
                  <input type="text" value="<%= item.id %>" name="_answer" style="display: none" />
                  <button class="btn btn-outline-danger ms-2">
                    <i class="fa-solid fa-down-long"></i> Downvote (<%= item.downvotes.length %>)
                  </button>
                </form>
                <a class="ms-2 cp" onclick="showComments('<%= item.id %>', '<%= index %>')"
                  ><em>View / Add Comments</em></a
                >
              </div>
              <div>
                <form
                  action="/comment/<%= que.id %>/<%= item.id %>"
                  class="comment-form<%= index %>"
                  style="display: none"
                  method="post"
                >
                  <div class="mb-3 mx-5 mt-5">
                    <label for="reply" class="form-label">Have something to comment? Enter here!</label>
                    <textarea
                      class="form-control"
                      name="reply"
                      required
                      rows="2"
                      cols="50"
                      placeholder="Enter your comment here"
                    ></textarea>
                  </div>
                  <div class="mb-3 mx-5">
                    <div class="d-grid gap-2">
                      <button class="btn btn-primary" type="submit">Submit</button>
                    </div>
                  </div>
                </form>
                <div class="comment-list<%= index %>"></div>
              </div>
            </div>
          </div>
          <% }); %>
        </div>
      </div>
    </div>
  </body>
</html>
